@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* header/navbar */

header {
    margin: 0;
}

.bg-light-grey {
    background-color: #555F62;
}

.logo {
    font-family: 'Poppins', sans-serif;
    color: pink;
    font-size: 40px;
}

.nav-item {
    font-family: 'Poppins', sans-serif;
    color:#FE8D85;
}

.menu {
    color: #FE8D85;
}


.hero-images {
    background: url("../images/hero.image.jpg");
    background-position: 36%, 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 350px;
    width: auto;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.hero-text {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    padding: 0%;
    margin: 0%;
}


/*  home page css */

body {
    background-color: red;
}

.leftcolumn {
  padding: 0;
  margin-left: 50%;
}

.card {
  background-color: #FDFFFC;
  padding: 20px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
}

.heading {
    color: #555F62;
    font-weight: 400;
}

/*CV page css*/

#fullpage {
    margin: 20;
}

.timeline-item {
    padding: 4rem 2rem 0rem 2rem;
    position: relative;
    border-left: 1px solid;
}


a:hover {
    font-weight: bold;
}


#date {
    font-weight: bold;
}

.right
{
    float: left;
    margin-top: 50px;
    padding-left:5px;
    /*margin-right: -10px;
    margin-left: 14%;*/
    height: auto;
    width: 99%;
    background-color: #E3EDD8;
    }

/*.left
{
    float: left;
    margin-top: 50px;
    /*margin-right: -90px;
    height: relative;
    width: 10%;
    background-color: #4160E8;
    }*/
    


/*contact page css*/


/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #525252;
  color: #fafafa;
  margin: 0;
  min-height: 120px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        flex-basis: auto;
    }
}

@media (min-width: 1024px) {
    .hero-images {
        height: 65vh;
    }
    
}