@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Coiny&display=swap');

/* navbar */

header {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 60px;
    margin-bottom: 30px;
    padding-top: 20px;

}

.bg-light-pink {
    background-color: #FFFAD7;
}

.logo {
    font-family: 'Coiny', sans-serif;
    color: #F36874;
    font-size: 45px;
    text-shadow: 2px 2px #879397;
    letter-spacing: 1px;
}

.menu {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #F36874;
    text-shadow: 1px 1px #879397;
}

/* header */

.hero-images {
    background: url("../images/hero.image.jpg");
    background-position: 36%, 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 350px;
    width: auto;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.hero-text {
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
    padding-top: 10px;
    margin-top: 10px;
    color:#FDFFFC;
    text-shadow: 2px 2px grey;
    letter-spacing: 1px;
}


/*  home page css */

.heading {
    color: #89AAD2;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}

/*  about secion */

.left-column {
  padding: 0px 40px 0 40px;
  margin: 0;
  border: none;
}

/*  my details secion */

.right-column {
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    border-color: #F36874;
}

/*  my projects secion */

.card {
  background-color: #FDFFFC;
  padding: 20px;
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  border: 2px;
  border-radius: 50px;
  
}



/*CV page css*/

#fullpage {
    margin: 10;
}


h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #89AAD2;
    text-align: center;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color:#89AAD2;
    text-align: center;
    text-decoration-line: underline;
}

.history {
    margin: 5%;
}

.timeline-item {
    padding: 4em 2em 0em 4em;
    position: relative;
    color: #879397;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #879397;
}

/*---------Education timeline*/

.location {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #89AAD2;
}

.grade {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #879397;
}

/*---------work history timeline*/

.company {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #89AAD2;
}

.role {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #879397;
}
    
/*---------Technical Skills*/


/*contact page css*/

.contact-heading {

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #89AAD2;
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    font-family: "Poppins",sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #FDFFFC;
    background-color: #89AAD2;
}


/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background: #FFFAD7;
  font-size: 20px;
  color: #F36874;
  margin: 0;
  min-height: 120px;
  text-shadow: 1px 1px #879397;
}

.fa {
    color: #F36874;
    font-size: 30px;
    text-shadow: 1px 1px #879397;
    border-radius: 2px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}

@media screen and (min-width: 768px) {
    .navbar-expand-md .navbar-collapse {
        flex-basis: auto;
    }
}

@media (min-width: 1024px) {
    .hero-images {
        height: 65vh;
    }
    
}