@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Courgette&display=swap');

/* navbar */

.bg-light-yellow {
    background-color: #FFFAD7;
}

.logo {
    font-family: 'Courgette', sans-serif;
    color: #F36874;
    font-size: 30px;
    text-shadow: 2px 1px #879397;
    letter-spacing: 1px;
}

.menu {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #F36874;
    text-shadow: 1px 1px #879397;
}

/* .hvr-underline-reveal {
    text-decoration-color: #879397;
}

.hvr-underline-reveal:hover {
    transform: translate(2%, 2%);
} */

/* header */

header {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 60px;
    margin-bottom: 30px;

}

.hero-images {
    background: url("../images/hero.image1.jpg");
    background-position: 36%, 0;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 300px;
    width: auto;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.hero-text {
    position: absolute;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 30px;
    top: 50%;
    left: 50%;
    /* margin-top: 10px; */
    color:#FDFFFC;
    transform: translate(-50%, -50%);
    background-color: rgba(135, 147, 151, 0.8);
    padding: 20px;
    
}


/*  home page css */

.heading {
    color: #89AAD2;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;

}

/*  about secion */

.left-column {
    font-size: 20px;
  padding-right: 24px;
  margin-bottom: 20px;
  color: #879397;
}

/*  my details secion */

.right-column {
    font-size: 20px;
    margin-bottom: 20px;
    color: #879397;
}

.info {
    font-weight: bold;
}

.list-group-item {
    background-color: #FFFAD7;
    overflow-wrap: break-word;
}

/*  my projects secion */

.project-card {
  background-color: #FFFAD7;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  width: auto;
  position: relative;
}

 .project {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #F36874;
    text-shadow: 2px 3px rgb(39, 38, 38);
} 


.project-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(135, 147, 151); */
    padding: 20px;
    text-align: center;
}

img {
    border-radius: 50%;
    width: 100%;
    height: auto;
}

/*CV page css*/

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #89AAD2;
    text-align: center;
}

.title {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color:#89AAD2;
    text-align: left;
    text-decoration-line: underline;
}

.history {
    margin: 4%;
}

.timeline-item {
    padding: 4em 2em 0em 4em;
    position: relative;
    color: #F36874;
    border-left: 1px solid;
}

.timeline-item p {
    padding: 0;
    margin: 0;
}

.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #F36874;
}

/*---------Education timeline*/

.location {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #89AAD2;
}

.grade {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #879397;
}

/*---------work history timeline*/

.company {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #89AAD2;
}

.role {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #879397;
}
    
/*---------Technical Skills*/

.skills {
    margin: 40px 0px;
}

.progress {
    position: relative;
    height: 25px;
    margin-bottom: 4px;
}

.progress-bar {
    background-color: #F36874;
}
.progress-type {
    position: absolute;
    left: 0px;
    font-weight: 400;
    padding: 15px 50px 15px 10px;
    color:#FDFFFC;
    background-color: #89AAD2;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}
/*contact page css*/

.contact-heading {

    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-top: 25px;
    margin-bottom: 20px;
    color: #89AAD2;
}

.form-group {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: rgba(243, 104, 116, 0.6);
}

.center-form {
    padding-top: 10px;
    margin: 0 auto;
    max-width: 70%;
}

button[type="submit"] {
    font-family: "Poppins",sans-serif;
    margin-top: 15px;
    margin-bottom: 20px;
    color: #FDFFFC;
    background-color: #89AAD2;
}


/* Footer */
footer {
  padding: 20px;
  text-align: center;
  background: #FFFAD7;
  font-size: 20px;
  color: #F36874;
  margin: 0;
  min-height: 120px;
  text-shadow: 1px 1px #879397;
}

.fa {
    color: #F36874;
    font-size: 30px;
    text-shadow: 1px 1px #879397;
    border-radius: 2px;
}

.fa-copyright {
    font-size: 20px;
}

/* Responsive layout - media queries */
@media screen and (min-width: 500px) {
  /* .left-column, .right-column {
    width: auto;
    padding: 0;
  }
  .card {
      max-width: 450px;
      margin: 20px auto;
      padding-left: 25px;

  } */
}

@media screen and (min-width: 700px) {
    .navbar-expand-md .navbar-collapse {
        flex-basis: auto;
    }
    /* .left-column, .right-column {
        width: auto;
        padding: 0;
    } */

    /* .card {
        height: auto;
        max-width: 500px;
        margin: 20px auto;
        padding-left: 20px;
    } */
}
/* 
@media (min-width: 1024px) {
    .hero-images {
        height: 65vh;
    }
    
} */